<h1>Add a Band</h1>

<form action="<%= bands_url %>" method="post">
  <%= auth_token %>
  <label>Band name:
    <input type="text" name="band[name]">
  </label>

  <br><br>

  <input type="submit" value="Add">

</form>
